@import "tailwindcss";

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}


code,
pre,
.mono {
  font-family: var(--font-geist-mono), monospace;
}

.footerbg {
    position: relative;
    background-image: url("../../public/images/footer.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: #c0c0c0;
}
.bgbg {
  background-image: url("../../public/images/bgbgbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
opacity: 25%;
}

.whychoose.footerbg{
      background-attachment: fixed;
}

.footerbg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);  
    z-index: 1;
}
 
.footerbg > * {
    position: relative;
    z-index: 2;
}
